{{#each article}}
<div class="article-wrapper container" data-id={{this._id}}>

  <h2>{{this.title}}</h2>
  <p>{{this.summary}}
    <span>
      <a target="_blank" href={{this.link}}>here</a>
    </span>
    &laquo;
  </p>
  <div class="add-note btn btn-primary" data-id={{this._id}}>
    <i class="fas fa-sticky-note"></i> Add a note
  </div>

  <div class="comments-wrapper" data-id={{this._id}}>

    <h5>Previous comments:</h5>
    {{> comments}}

  </div>
</div>
{{/each}}